{########################}
{# Bereich 8 #}
{########################}
<div class="c108faq-content" :class="`c108faqwrapper-${element.config.c108faqsection8icontype.value} c108-faq-section-box`" :style="passIconCol">
    {# Shopware Icon #}
    <div class="c108-faq-outer-wrapper" :class="`c108faqwrapper-einfach`" :style="passIconCol">
        <div v-if="element.config.c108faqsection8icontype.value == 'shippedicon'"  class="c108-icon-wrapper">
            {# Check which icon and get name based on value #}
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'help'">
                <sw-icon name="default-badge-help"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'plus-circle'">
                <sw-icon name="default-basic-plus-circle"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'checkmark'">
                <sw-icon name="default-basic-checkmark-line"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'checkmark-circle'">
                <sw-icon name="default-basic-checkmark-circle"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'checkmark-block'">
                <sw-icon name="default-basic-checkmark-block"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'info'">
                <sw-icon name="default-badge-info"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'warning'">
                <sw-icon name="default-badge-warning"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'trophy'">
                <sw-icon name="default-award-trophy"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'avatar'">
                <sw-icon name="default-avatar-single"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'arrow-switch'">
                <sw-icon name="default-arrow-switch"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'star'">
                <sw-icon name="default-basic-shape-star"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'stack-block'">
                <sw-icon name="default-basic-stack-block"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'chart'">
                <sw-icon name="default-chart-line"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'headset'">
                <sw-icon name="default-device-headset"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'photocamera'">
                <sw-icon name="default-device-photocamera"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'home'">
                <sw-icon name="default-building-home"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'calendar-empty'">
                <sw-icon name="default-calendar-empty"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'envelope'">
                <sw-icon name="default-communication-envelope"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'speech-bubble'">
                <sw-icon name="default-communication-speech-bubble"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'speech-bubbles'">
                <sw-icon name="default-communication-speech-bubbles"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'pushpin'">
                <sw-icon name="default-documentation-pushpin"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'marker'">
                <sw-icon name="default-location-marker"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'lock-closed'">
                <sw-icon name="default-lock-closed"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'graduate-cap'">
                <sw-icon name="default-object-graduate-cap"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'package-gift'">
                <sw-icon name="default-package-gift"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'cart'">
                <sw-icon name="default-shopping-cart"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'bag'">
                <sw-icon name="default-shopping-paper-bag"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'infinity'">
                <sw-icon name="default-symbol-infinity"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'target-big'">
                <sw-icon name="default-target-big"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'clock'">
                <sw-icon name="default-time-clock"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'hourglass'">
                <sw-icon name="default-time-hourglass"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'ruler-pencil'">
                <sw-icon name="default-tools-ruler-pencil"></sw-icon>
            </div>
            <div class="c108-faq-preview-icon" v-if="element.config.c108faqsection8icon.value == 'settings'">
                <sw-icon name="default-action-settings"></sw-icon>
            </div>
            {# End Check #}
        </div>
        {# Eigenes Icon #}
        <div v-else class="sw-cms-el-image" class="c108faqownimgwrapper">
            <img :src="getPath8">
        </div>
        {# Text Wrapper #}
        <div class="c108-faq-text-wrapper">
            {# Titel #}
            <div class="c108-faq-section-title-boxes">{{ element.config.c108faqsection8title.value }}</div>
            {# Text #}
            <div class="c108-faq-section-text-boxes">
                <p> {{ element.config.c108faqsection8text.value }} </p>
            </div>
        </div>
    </div>
</div>
{########################}
{# Bereich 8: Ende #}
{########################}
